<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diamondcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiamondCare">
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".Points"
            android:exported="false" />
        <activity
            android:name=".MySessions"
            android:exported="false" />
        <activity
            android:name=".SessionsDate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sessions_step3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Animation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Utility.ReminderBroadcast" />
    </application>

</manifest>